body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header {
  max-width: 1366px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 105px;
  margin-bottom: 100px;
}

/* NAVBAR */

.nav-area {
  width: 1366px;
  width: 100%;
}

.nav {
  max-width: 1000px;
  margin: 15px auto 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.nav>img {
  margin: 33px 0px 0px 33px;
  max-width: 194px;
  height: 53px;
}

.nav>ul {
  margin: 53px 51px 0px 0px;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}

.nav>ul>li {
  color: rgba(11, 27, 221, 1);
  display: inline-flex;
  padding: 0px 15px;
  justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* BACKGROUP-HELLO */

.hello-area {
  background-image: url(./images/backgroup-area.png);
  max-width: 1336px;
  width: 100%;
  height: 522px;
  display: flex;
  flex-direction: column;
}

.hello {
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  position: relative;
}

.union-hello {
  position: absolute;
  bottom: 75px;
  left: 30px;
  max-width: 337px;
  width: 100%;
  height: 280px;
}

.txt-hello {
  width: 100%;
  z-index: 1;
}

.txt-hello > h1 {
  color: rgba(11, 27, 221, 1);
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 244px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;  
}

.backgroup-point-blue {
  max-width: 100%;
  display: flex;
  justify-content: end;
}

.backgroup-point-blue>img {
  position: relative;
  max-width: 448px;
  height: 56.5px;
  position: relative;
  top: 60px;
}

/* ABOUT-COMPANY */

main {
  max-width: 1366px;
  width: 100%;
}

.about-company {
  max-width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.title-we-are {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.title-we-are>h1 {
  display: flex;
  margin: auto;
  color: #0B1BDD;
  font-Weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  max-width: 520px;
  height: 44px;
  margin: 4px auto;
}

.title-we-are>p {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.03em;
  max-width: 1230px;
  height: 89px;
  margin: 0px auto;
}

.area-our {
  display: flex;
  justify-content: space-evenly;
}

.our-vison>h1 {
  color: #0B1BDD;
  font-Weight bold;
  font-size: 36px;
  line-height: 43.88px;
  letter-spacing: 0.05em;
  max-width: 250px;
  height: 44px;
  margin-bottom: 30px;
}

.our-vison>p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.03em;
  max-width: 495px;
  height: 45px;
}

.our-mission>h1 {
  color: #0B1BDD;
  font-Weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  max-width: 280px;
  height: 44px;
  margin-bottom: 30px;
}

.our-mission>p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.03em;
  max-width: 495px;
  height: 45px;
}

.our-core-values>h1 {
  color: #0B1BDD;
  font-Weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  max-width: 390px;
  height: 44px;
  margin-bottom: 30px;
}

.our-core-values>p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.03em;
  max-width: 622px;
  height: 32opx;
}

/* OUR-SERVICE-AREA */

.our-service {
  max-width: 100%;
}

.our-service>h1 {
  text-align: center;
  color: #0B1BDD;
  font-Weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  max-width: 305x;
  height: 44px;
  margin-bottom: 150px;
}

/* BOX-SERVICE-AREA */

.background-our-service {
  max-width: 100%;
  height: 318px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 75px;
}

.background-our-service {
  background-image: url(./images/backgroup-our-service.png);
  max-width: 100%;
  height: 318px;
}

.business {
  background-color: white;
  position: relative;
  bottom: 135px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 372px;
  height: 327px;
}

.business>div>ul {
  max-width: 300px;
  padding-left: 65px;
}

.business>div>h3 {
  color: rgba(253, 199, 36, 1);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  max-width: 196px;
  padding: 51px 114px 0px 61px;
}

.business>div>ul>li {
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  text-align: left;
}

.management {
  background-color: white;
  position: relative;
  bottom: 135px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 372px;
  height: 327px;
}

.management>div>ul {
  max-width: 300px;
  padding-left: 65px;
}

.management>div>h3 {
  color: rgba(253, 199, 36, 1);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  max-width: 196px;
  padding: 51px 114px 0px 61px;
}

.management>div>ul>li {
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  text-align: left;
}

.marketing-servive {
  background-color: white;
  position: relative;
  bottom: 135px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 372px;
  height: 327px;
}

.marketing-servive>div>ul {
  max-width: 300px;
  padding-left: 65px;
}

.marketing-servive>div>h3 {
  color: rgba(253, 199, 36, 1);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
  max-width: 278px;
  padding: 38px 54px 0px 40px;
  margin-bottom: 0px;
}

.marketing-servive>div>ul>li {
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  text-align: left;
}

/* .backgroup-our-service {
  max-width: 100%;
  width: 100%;
  height: 318px;
} */

/* OUR-ACHIEVEMENTS */

.achievements {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.achievements>img {
  max-width: 100%;
  height: 504px;
}

.our-achievements {
  text-align: center;
  color: #0B1BDD;
  font-Weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  height: 44px;
  margin-bottom: 40px;
}

/* AS-FEATURED-IN */

.featured {
  display: flex;
  flex-direction: column;
}

.featured>div {
  margin: 0px auto;
}

.featured>div>img {
  max-width: 1219px;
  width: 100%;
  height: 182px;
}

.as-featured-in {
  text-align: center;
  color: #0B1BDD;
  font-Weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  height: 44px;
  margin-bottom: 33px;
}

.backgroup-featured {
  background-image: url(./images/backgroup-as-featured-in.png);
  background-size: 100% 429px;
  max-width: 100%;
  height: 429px;
  margin-bottom: 76px;
}

/* STRATEGIC-PARTNERS-&-CLIENTS */

.strategic {
  margin-bottom: 60px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.strategic-partners-clients {
  text-align: center;
  color: #0B1BDD;
  font-Weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  height: 44px;
  margin-bottom: 33px;
}

.strategic>img {
  margin: 0px auto;
  max-width: 80%;
  height: 354px;
}

/* NEWSROOM */

.newsroom {
  display: flex;
  flex-direction: column;
}

.title-newsroom>h1 {
  text-align: center;
  color: #0B1BDD;
  font-Weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  height: 44px;
  margin-bottom: 33px;
}

.title-newsroom>p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.03px;
}

/* BOX-NEWSROOM */

.box-newsroom {
  background-color: #F7F7F7;
  padding: 33px 0px 35px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 64px;
}

.frankfurt-motor-show {
  background-color: rgba(255, 255, 255, 1);
  max-width: 365px;
}

.frankfurt-motor-show>img {
  max-width: 365px;
  width: 100%;
  height: 242px;
}

.title-area {
  max-width: 80%;
  width: 100%;
  margin: 0px auto;
}

.title-area>h6 {
  color: rgba(64, 83, 189, 1);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.05em;
}

.title-area>h5 {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
}

.title-area>p {
  opacity: 50%;
  max-width: 278px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
}

.wordpress {
  max-width: 365px;
  background-color: rgba(255, 255, 255, 1);
}

.wordpress>img {
  max-width: 365px;
  width: 100%;
  height: 242px;
}

.title-area {
  max-width: 80%;
  width: 100%;
  margin: 0px auto;
}

.title-area>h6 {
  color: rgba(64, 83, 189, 1);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.05em;
}

.title-area>h5 {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
}

.title-area>p {
  opacity: 50%;
  max-width: 278px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
}

.explore {
  max-width: 365px;
  background-color: rgba(255, 255, 255, 1);
}

.explore>img {
  max-width: 365px;
  width: 100%;
  height: 242px;
}

.title-area {
  max-width: 80%;
  width: 100%;
  margin: 0px auto;
}

.title-area>h6 {
  color: rgba(64, 83, 189, 1);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.05em;
}

.title-area>h5 {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
}

.title-area>p {
  opacity: 50%;
  max-width: 278px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
}

/* OUR-TEAM */

.our-team {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0px auto;
  padding-bottom: 86px;
}

.our-team>h1 {
  color: rgba(64, 83, 189, 1);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 0px auto;
  padding-bottom: 17px;
}

.img-our-team {
  max-width: 100%;
  display: flex;
  margin: 0px auto;
  justify-content: space-evenly;
  align-items: center;
}

.young-man {
  height: calc(100vh - 400px);
}

.young-man>img {
  max-width: 341px;
  width: 100%;
  height: 510px;
}

.the-woman {
  margin: 0px 16px;
}

.the-woman>img {
  max-width: 399px;
  width: 100%;
  height: 598px;
}

.our-team>p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
}

.the-woman>p:first-child {
  color: rgba(0, 0, 0, 0.5);
  font-family: montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 50px;
  letter-spacing: 0.03em;
  text-align: center;
}

.the-woman {
  color: rgba(0, 0, 0, 0.5);
  font-family: montserrat;
  font-weight: 500;
  font-style: italic;
  font-size: 10px;
  line-height: 18.5px;
  letter-spacing: 0.03em;
  text-align: center;
}

.old-man {
  height: calc(100vh - 400px);
}

.old-man>img {
  max-width: 341px;
  width: 100%;
  height: 510px;
}

footer {
  max-width: 1366px;
  width: 100%;
  display: flex;
}

.logo-yellow-footer {
  flex: 2;
}

.logo-yellow-footer>img {
  margin: 0px 0px 54px 66px;
  max-width: 173px;
  width: 100%;
  height: 47px;
}

.icon {
  position: relative;
  left: 80px;
  flex: 1px;
}

.icon>img {
  max-width: 26px;
  height: 26px;
}

.content-footer {
  flex: 1;
}

.content-footer>p {
  color: #000000;
  opacity: 50%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
}