@media only screen and (max-width: 415px) {
  body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
  }
  /* HEADER */
  header {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    margin-bottom: 26px;
  }
  /* NAVBAR */
  .nav-area {
    width: 100%;
  }
  .nav {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
  }
  .nav>img {
    margin: 33px 0px 0px 33px;
    max-width: 194px;
    height: 53px;
  }
  .nav>ul {
    margin: 53px 51px 0px 0px;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    display: none;
  }
  .nav>ul>li {
    color: rgba(11, 27, 221, 1);
    display: inline-flex;
    padding: 0px 15px;
    justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  /* BACKGROUND-HELLO */
  .hello-area {
    background-image: url(./images/backgroup-area.png);
    max-width: 414px;
    width: 100%;
    height: 164px;
    display: flex;
    flex-direction: column;
  }
  .hello {
    position: relative;
    max-width: 414px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px auto;
  }
  .txt-hello {
    width: 100%;
  }
  .txt-hello>h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    justify-content: center;
    position: relative;
  }
  .union-hello {
    position: absolute;
    top: 60px;
    left: 65px;
    max-width: 101px;
    height: 84px;
  }
  .backgroup-point-blue {
    max-width: 100%;
    display: flex;
    justify-content: end;
    display: none;
  }
  .backgroup-point-blue>img {
    position: relative;
    top: 45px;
    max-width: 448px;
    height: 56.5px;
  }
  /* ABOUT-COMPANY */
  .about-company {
    max-width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
  }
  .title-we-are {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }
  .title-we-are>h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
  }
  .title-we-are>p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .area-our {
    display: flex;
    flex-direction: column;
  }
  .our-vison>h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    max-width: 100%;
    height: 14px;
    margin-bottom: 0px;
  }
  .our-vison>p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .our-mission>h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    max-width: 100%;
    height: 14px;
    margin-bottom: 0px;
  }
  .our-mission>p {
    color: rgba(0, 0, 0, 0.7);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .our-core-values>h1 {
    color: #0B1BDD;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    max-width: 100%;
    height: 14px;
    margin-bottom: 0px;
  }
  .our-core-values>p {
    color: rgba(0, 0, 0, 0.7);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: left;
    letter-spacing: 0.03em;
  }
  /* OUR-SERVICE-AREA */
  .our-service {
    max-width: 100%;
  }
  .our-service>h1 {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    max-width: 100%;
    height: 14px;
    margin-bottom: 50px;
  }
  /* BOX-SERVICE-AREA */
  .background-our-service {
    max-width: 100%;
    height: 318px;
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
  }
  .background-our-service {
    background-image: url(./images/backgroup-our-service.png);
    max-width: 100%;
    height: 487px;
  }
  .business {
    background-color: white;
    position: relative;
    bottom: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 364px;
    width: 100%;
    height: 142px;
    margin: 0px auto 21px;
  }
  .business>div>ul {
    max-width: 300px;
    padding-left: 65px;
  }
  .business>div>h3 {
    color: rgba(253, 199, 36, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    padding: 0px 0px 0px 50px;
  }
  .business>div>ul>li {
    color: rgba(0, 0, 0, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 24px;
  }
  .management {
    background-color: white;
    position: relative;
    bottom: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 364px;
    width: 100%;
    height: 327px;
    margin: 0px auto 21px;
  }
  .management>div>ul {
    max-width: 300px;
    padding-left: 65px;
  }
  .management>div>h3 {
    color: rgba(253, 199, 36, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    padding: 0px 0px 0px 50px;
  }
  .management>div>ul>li {
    color: rgba(0, 0, 0, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 24px;
  }
  .marketing-servive {
    background-color: white;
    position: relative;
    bottom: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 364px;
    width: 100%;
    height: 327px;
    margin: 0px auto;
  }
  .marketing-servive>div>ul {
    max-width: 300px;
    padding-left: 65px;
  }
  .marketing-servive>div>h3 {
    color: rgba(253, 199, 36, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    padding: 0px 0px 0px 50px;
  }
  .marketing-servive>div>ul>li {
    color: rgba(0, 0, 0, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 24px;
  }
  /* .backgroup-our-service {
        max-width: 100%;
        width: 100%;
        height: 318px;
      } */
  /* OUR-ACHIEVEMENTS */
  .achievements {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }
  .achievements>img {
    max-width: 100%;
    height: 504px;
  }
  .our-achievements {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    height: 44px;
    margin-bottom: 40px;
  }
  /* AS-FEATURED-IN */
  .featured {
    display: flex;
    flex-direction: column;
  }
  .featured>div {
    margin: 0px auto;
  }
  .featured>div>img {
    max-width: 1219px;
    width: 100%;
    height: 182px;
  }
  .as-featured-in {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
  }
  .backgroup-featured {
    background-image: url(./images/backgroup-as-featured-in.png);
    background-size: 100% 154px;
    max-width: 100%;
    height: 154px;
    margin-bottom: 30px;
  }
  /* STRATEGIC-PARTNERS-&-CLIENTS */
  .strategic {
    margin-bottom: 60px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .strategic-partners-clients {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    margin-bottom: 33px;
  }
  .strategic>img {
    margin: 0px auto;
    max-width: 80%;
    height: 354px;
  }
  /* NEWSROOM */
  .newsroom {
    display: flex;
    flex-direction: column;
  }
  .title-newsroom>h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    margin-bottom: 33px;
    margin-bottom: 33px;
  }
  .title-newsroom>p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  /* BOX-NEWSROOM */
  .box-newsroom {
    background-color: #F7F7F7;
    padding: 33px 0px 35px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 64px;
  }
  .frankfurt-motor-show {
    background-color: rgba(255, 255, 255, 1);
    max-width: 365px;
  }
  .frankfurt-motor-show>img {
    max-width: 365px;
    width: 100%;
    height: 242px;
  }
  .title-area {
    max-width: 80%;
    width: 100%;
    margin: 0px auto;
  }
  .title-area>h6 {
    color: rgba(64, 83, 189, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.05em;
  }
  .title-area>h5 {
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
  }
  .title-area>p {
    opacity: 50%;
    max-width: 278px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
  }
  .wordpress {
    max-width: 365px;
    background-color: rgba(255, 255, 255, 1);
    display: none;
  }
  .wordpress>img {
    max-width: 365px;
    width: 100%;
    height: 242px;
  }
  .title-area {
    max-width: 80%;
    width: 100%;
    margin: 0px auto;
  }
  .title-area>h6 {
    color: rgba(64, 83, 189, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.05em;
  }
  .title-area>h5 {
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
  }
  .title-area>p {
    opacity: 50%;
    max-width: 278px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
  }
  .explore {
    display: none;
    max-width: 365px;
    background-color: rgba(255, 255, 255, 1);
  }
  .explore>img {
    max-width: 365px;
    width: 100%;
    height: 242px;
  }
  .title-area {
    max-width: 80%;
    width: 100%;
    margin: 0px auto;
  }
  .title-area>h6 {
    color: rgba(64, 83, 189, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.05em;
  }
  .title-area>h5 {
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
  }
  .title-area>p {
    opacity: 50%;
    max-width: 278px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
  }
  /* OUR-TEAM */
  .our-team {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0px auto;
    padding-bottom: 86px;
  }
  .our-team>h1 {
    color: #0B1BDD;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    max-width: 100%;
    height: 14px;
    padding-bottom: 17px;
  }
  .img-our-team {
    max-width: 100%;
    display: flex;
    margin: 0px auto;
    justify-content: space-evenly;
    align-items: center;
  }
  .young-man {
    display: none;
    height: calc(100vh - 217px);
  }
  .young-man>img {
    max-width: 341px;
    width: 100%;
    height: 510px;
  }
  .the-woman {
    margin: 0px 16px;
  }
  .the-woman>img {
    max-width: 399px;
    width: 100%;
    height: 598px;
  }
  .our-team>p {
    color: rgba(0, 0, 0, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .the-woman>p:first-child {
    color: rgba(0, 0, 0, 0.5);
    font-family: montserrat;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 50px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .the-woman {
    color: rgba(0, 0, 0, 0.5);
    font-family: montserrat;
    font-weight: 500;
    font-style: italic;
    font-size: 10px;
    line-height: 18.5px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .old-man {
    display: none;
    height: calc(100vh - 217px);
  }
  .old-man>img {
    max-width: 341px;
    width: 100%;
    height: 510px;
  }
  footer {
    max-width: 100%;
    width: 100%;
    display: flex;
  }
  .logo-yellow-footer {
    flex: 2;
  }
  .logo-yellow-footer>img {
    margin: 0px 0px 54px 66px;
    max-width: 173px;
    width: 100%;
    height: 47px;
  }
  .icon>img {
    max-width: 26px;
    height: 26px;
  }
  .content-footer {
    flex: 1;
  }
  .content-footer>p {
    color: #000000;
    opacity: 50%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
  }
}